In [8]:
import pandas as pd
import numpy as np

In [9]:
sheet_name = 'NHACUNGCAP'

data = pd.read_excel('../lab/Đơn đặt hàng - Dữ liệu.xlsx', sheet_name=sheet_name)

data.fillna('NULL',inplace=True)
def solve_data(data):
    if type(data) == str:
        if data == 'NULL':
            return 'NULL'
        else:
            data = data.replace("'", "''")
            return f"'{data}'"
    elif isinstance(data, np.int64) or isinstance(data, np.float64):
        return f"{data}"
    else:
        return f"'{data}'"
    
    
SQL_insert_script = f'insert into {sheet_name} values \n'
for i in range(data.shape[0]):
    row = data.iloc[i]
    SQL_insert_script += "("
    for j in range(data.shape[1]):
        SQL_insert_script += solve_data(row[j])
        if j != data.shape[1] - 1:
            SQL_insert_script += ', '
    SQL_insert_script += '),\n'
SQL_insert_script = SQL_insert_script[:-2] + ';'
# export sql script to txt file
with open('output.txt', 'w') as f:
    f.write(SQL_insert_script)
    f.close()

/tmp/ipykernel_144424/3402752222.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NULL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna('NULL',inplace=True)
/tmp/ipykernel_144424/3402752222.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SQL_insert_script += solve_data(row[j])